@media only screen and (min-width: 1680px) {
  .create-account {
    width: 1584px;
    display: flex;
    margin: auto;
  }
}

@media only screen and (max-width: 1679px) and (min-width: 1280px) {
  .create-account {
    display: flex;
    margin: auto;
  }
}

.create-account__image {
  width: auto;
  height: auto;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
}

.create-account__container {
  width: 442px;
  height: 750px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.create-account__choose-type {
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 16px;
  padding: 2px;
  gap: 18px;
  box-sizing: border-box;
  border: 1px solid #8f8f8f;
  border-radius: 24px;
  background-color: #fff;
}