.sign-up-personal__form {
  width: 410px;
  min-height: 276px;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: auto;
  row-gap: 16px;
  align-content: start;
  justify-content: space-between;
}

.sign-up-personal__agreement-and-notice {
  grid-column: 1 / span 2;
  margin: 8px 0 -8px;
  line-height: 1.5;
  font-size: 12px;
  font-family: 'Market-Sans', 'Market-Sans2', Arial, Helvetica, sans-serif;
  color: #707070;
}

.sign-up-personal__agreement-and-notice>p {
  margin: 0;
}

.sign-up-personal__agreement-and-notice-links {
  color: #707070;
}

.sign-up-personal__create-personal-account-button {
  grid-column: 1 / span 2;
  width: 100%;
  min-height: 48px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  border-radius: 24px;
  color: #fff;
  background-color: #c7c7c7;
}

.sign-up-personal__separator-container {
  width: 100%;
  height: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.sign-up-personal__horizontal-line {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #c8c2c8;
}

.sign-up-personal__horizontal-text {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 8px;
  font-size: 0.75rem;
  font-family: 'Market-Sans', 'Market-Sans2', Arial, Helvetica, sans-serif;
  color: #191919;
  background-color: #fff;
}




.sign-up-personal__vertical-delimiter-container {
  width: 174px;
  height: 400px;
  position: relative;
}

.sign-up-personal__vertical-line {
  width: 1px;
  height: 100%;
  margin: auto;
  background-color: #ccc;
}

/* .sign-up-personal__horizontal-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75rem;
  line-height: 16px;
  font-family: 'Market-Sans', 'Market-Sans2', Arial, Helvetica, sans-serif;
  background-color: #fff;
} */

.sign-up-personal__social-buttons {
  width: 300px;
  height: 192px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.sign-up-personal__social-buttons>button {
  position: relative;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 8px 0;
  border-radius: 48px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Market-Sans', 'Market-Sans2', Arial, Helvetica, sans-serif;
}

.sign-up-personal__social-buttons>button>img {
  position: absolute;
  left: 20px;
}

.sign-up-personal__google-btn {
  padding-left: 43px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.sign-up-personal__google-btn:hover {
  background-color: #f5f5f5;
}

.sign-up-personal__google-btn>img {
  width: 23px;
}

.sign-up-personal__fb-btn {
  padding-left: 45px;
  border: none;
  color: #fff;
  background-color: #4267b2;
}

.sign-up-personal__fb-btn:hover {
  background-blend-mode: multiply;
  filter: brightness(96%);
}

.sign-up-personal__fb-btn>img {
  width: 25px;
}

.sign-up-personal__apple-btn {
  padding-left: 41px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.sign-up-personal__apple-btn:hover {
  background-color: #f5f5f5;
}

.sign-up-personal__apple-btn>img {
  width: 21px;
}