body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Market-Sans';
  src: url('https://cors-anywhere.herokuapp.com/https://dl.dropboxusercontent.com/scl/fi/z9u94sbtpd8svlgwrr1he/marketsans-regular-webfont.ttf?rlkey=4xm07o75by2d6i8b10r49khx5&dl=1') format('truetype');
  src: url('https://cors-anywhere.herokuapp.com/https://dl.dropboxusercontent.com/scl/fi/fnutd56tum0xkt6ea702p/marketsans-regular-webfont.woff?rlkey=xg5onvaaqvct6zwddklppgabl&dl=1') format('woff');
  src: url('https://cors-anywhere.herokuapp.com/https://dl.dropboxusercontent.com/scl/fi/38ftq8q5idemn00jtmqa5/marketsans-regular-webfont.woff2?rlkey=qg62jkpy959ehujnbw93a35b3&dl=1') format('woff2');
}

@font-face {
  font-family: 'Market-Sans2';
  src: url('https://api.allorigins.win/raw?url=https://dl.dropboxusercontent.com/scl/fi/z9u94sbtpd8svlgwrr1he/marketsans-regular-webfont.ttf?rlkey=4xm07o75by2d6i8b10r49khx5&dl=1') format('truetype');
  src: url('https://api.allorigins.win/raw?url=https://dl.dropboxusercontent.com/scl/fi/fnutd56tum0xkt6ea702p/marketsans-regular-webfont.woff?rlkey=xg5onvaaqvct6zwddklppgabl&dl=1') format('woff');
  src: url('https://api.allorigins.win/raw?url=https://dl.dropboxusercontent.com/scl/fi/38ftq8q5idemn00jtmqa5/marketsans-regular-webfont.woff2?rlkey=qg62jkpy959ehujnbw93a35b3&dl=1') format('woff2');
}