.sign-up-personal__container {
  width: 774px;
  height: 400px;
}

.sign-up-personal__form {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sign-up-personal__first-and-last-name {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sign-up-personal__first-and-last-name label {
  position: absolute;
  top: 11px;
  padding-left: 15px;
  transition: .5s;
  pointer-events: none;
  font-size: .875rem;
}

.sign-up-personal__first-name,
.sign-up-personal__first-name>input,
.sign-up-personal__last-name,
.sign-up-personal__last-name>input {
  width: 138px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 7px;
  outline: none;
}

.sign-up-personal__email,
.sign-up-personal__email>input,
.sign-up-personal__password,
.sign-up-personal__password>input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 7px;
  outline: none;
}

.sign-up-personal__email,
.sign-up-personal__password {
  position: relative;
}

.sign-up-personal__email>label,
.sign-up-personal__password>label {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: .875rem;
}

.sign-up-personal__input-first-name,
.sign-up-personal__input-last-name,
.sign-up-personal__input-email,
.sign-up-personal__input-password {
  padding-top: 15px;
  padding-left: 15px;
  border: 1px solid gray;
  background-color: #f7f7f7;
  color: black;
  font-size: 1rem;
}

.sign-up-personal__agreement-and-notice {
  padding: 8px 0;
  font-size: 12px;
  font-family: 'Market-Sans', 'Market-Sans2', Arial, sans-serif;
  line-height: 1.5;
  color: #767676;
}

.sign-up-personal__agreement-and-notice>p {
  margin: 0;
}

.sign-up-personal__agreement-and-notice b {
  /* color: #767676; */
  /* font-weight: 600; */
  /* color: red; */
  color: #767676
}