.sign-up-personal__container {
  width: 774px;
  height: 400px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.sign-up-personal__form {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sign-up-personal__first-and-last-name {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sign-up-personal__first-and-last-name label {
  position: absolute;
  top: 11px;
  padding-left: 15px;
  transition: .5s;
  pointer-events: none;
  font-size: .875rem;
}

.sign-up-personal__first-name,
.sign-up-personal__first-name>input,
.sign-up-personal__last-name,
.sign-up-personal__last-name>input {
  width: 138px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 7px;
  outline: none;
}

.sign-up-personal__email,
.sign-up-personal__email>input,
.sign-up-personal__password,
.sign-up-personal__password>input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 7px;
  outline: none;
}

.sign-up-personal__email,
.sign-up-personal__password {
  position: relative;
}

.sign-up-personal__email>label,
.sign-up-personal__password>label {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: .875rem;
}

.sign-up-personal__input-first-name,
.sign-up-personal__input-last-name,
.sign-up-personal__input-email,
.sign-up-personal__input-password {
  padding-top: 15px;
  padding-left: 15px;
  border: 1px solid gray;
  background-color: #f7f7f7;
  color: black;
  font-size: 1rem;
}

.sign-up-personal__agreement-and-notice {
  margin: -20px 0 -20px;
  padding: 8px 0;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
}

.sign-up-personal__agreement-and-notice>p {
  margin: 0;
}

.sign-up-personal__create-account-button {
  width: 100%;
  min-height: 48px;
  margin-top: 8px;
  padding: 13px 20px;
  font-size: 1rem;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  border-radius: 24px;
  color: #fff;
  background-color: #c7c7c7;
}

.sign-up-personal__vertical-delimiter-container {
  width: 174px;
  height: 400px;
  position: relative;
}

.sign-up-personal__vertical-line {
  width: 1px;
  height: 100%;
  margin: auto;
  background-color: #ccc;
}

.sign-up-personal__horizontal-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75rem;
  line-height: 16px;
  font-family: 'Market-Sans', 'Market-Sans2', Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.sign-up-personal__social-buttons {
  width: 300px;
  height: 192px;
  margin: auto 0;
}

.sign-up-personal__social-buttons>button {
  position: relative;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 8px 0;
  border-radius: 48px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Market-Sans', 'Market-Sans2', Arial, Helvetica, sans-serif;
}

.sign-up-personal__social-buttons>button>img {
  position: absolute;
  left: 20px;
}

.sign-up-personal__google-btn {
  padding-left: 43px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.sign-up-personal__google-btn:hover {
  background-color: #f5f5f5;
}

.sign-up-personal__google-btn>img {
  width: 23px;
}

.sign-up-personal__fb-btn {
  padding-left: 45px;
  border: none;
  color: #fff;
  background-color: #4267b2;
}

.sign-up-personal__fb-btn:hover {
  background-blend-mode: multiply;
  filter: brightness(96%);
}

.sign-up-personal__fb-btn>img {
  width: 25px;
}

.sign-up-personal__apple-btn {
  padding-left: 41px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.sign-up-personal__apple-btn:hover {
  background-color: #f5f5f5;
}

.sign-up-personal__apple-btn>img {
  width: 21px;
}